<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.w3.org/1999/xhtml" layout:decorate="~{layout/layout}">
<body>
<div layout:fragment="layout">
    <h2>Employee Detail</h2>
    <div th:if="${employee}">
        <p>ID: <span th:text="${employee.id}"></span></p>
        <p>Name: <span th:text="${employee.name}"></span></p>
        <p>Email: <span th:text="${employee.email}"></span></p>
        <p>Department: <span th:text="${employee.departmentId}"></span></p>
        <p>Roles: <span th:text="${employee.roles}"></span></p>
    </div>
    <div th:if="${message}">
        <p th:text="${message}"></p>
    </div>
</div>
</body>
</html>
