<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.w3.org/1999/xhtml"
      layout:decorate="~{layout/layout}">
<head>
    <title>lê</title>
</head>
<body>
<div layout:fragment="layout">
    <form method="get" th:action="@{/department/index}">
        <input type="text" name="name">
        <button type="submit">Search</button>
    </form>
    <table class="table table-striped table-hover">
        <li><a th:href="@{/department/add}">Create Department </a></li>
        <thead>
        <tr>
            <th>STT</th>
            <th>Name</th>
            <th>Description</th>
            <th colspan="3">Action</th>
        </tr>
        </thead>
        <tbody th:each="department,state : ${listDepartment}">
        <tr>
            <td th:text="${state.count}"></td>
            <td th:text="${department.name}"></td>
            <td th:text="${department.description}"></td>
            <td><a th:href="@{'/department/edit/'+${department.id}}">
                <button>Edit</button>
            </a></td>
            <td><a th:href="@{'/department/delete/'+${department.id}}">
                <button>Delete</button>
            </a></td>
            <td><a th:href="@{'/department/detail/'+${department.id}}">
                <button>Detail</button>
            </a></td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>